name: Build-Deploy prod
on:
  push:
    branches-ignore:
      - 'gh-pages'
      - 'docs'
      - 'dependabot/**'

env:
  CI: true
  TZ: Europe/Oslo

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Read/save maven cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-cache-utsjekk-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-cache-utsjekk-
            ${{ runner.os }}-
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Bygg med Maven
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn -B --no-transfer-progress package --settings .m2/maven-settings.xml --file pom.xml
      - name: Push docker image til GAR og signer
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          salsa: 'false'
          team: helved
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  deploy-dev:
    name: Deploy til dev-gcp
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        timeout-minutes: 30
        env:
          CLUSTER: dev-gcp
          RESOURCE: .deploy/unleash-apitoken.yaml,.deploy/nais.yaml
          IMAGE: ${{ needs.build.outputs.image }}
          VAR: image=${{ needs.build.outputs.image }}
          VARS: .deploy/vars-preprod.yaml

  deploy-prod:
    name: Deploy til prod-gcp
    needs: [build,deploy-dev]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .deploy/unleash-apitoken.yaml,.deploy/nais.yaml
          IMAGE: ${{ needs.build.outputs.image }}
          VAR: image=${{ needs.build.outputs.image }}
          VARS: .deploy/vars-prod.yaml
